<ol class="breadcrumb mb-1">
  <li class="breadcrumb-item">
    <%= link_to(@community.title, community_path(@community)) %>
  </li>
  <li class="breadcrumb-item active"><%= @collection.title %></li>
</ol>
