<h1>Create Collection</h1>
<%= simple_form_for [@community, @collection] do |f| %>
	<% @collection.property_names.each do |prop| %>
		<%= f.input prop %>
	<% end %>

	<%= f.button :submit %>
<% end %>