<div class="container mt-3">
  <h1>About ERA</h1>

  <h3>What Is ERA?</h3>

  <p>
    ERA (Education and Research Archive), launched in 2010, is the University of Alberta's open access digital archive. ERA's open access content includes the intellectual output of the University and promotes opportunities for research discovery as well as for archival preservation for individuals at academic institutions as well as those beyond our walls.
  </p>

  <p>
    ERA contains a variety of of materials with enduring research and teaching value - see below for a list of the types of materials we accept. ERA also provides an easy and convenient solution for faculty who must deposit their research in an open access repository to meet funding agency requirements, such as the <a href="http://www.science.gc.ca/eic/site/063.nsf/eng/h_F6765465.html">Tri-Agency Open Access Policy on Publications</a>, and is named in the policy as a compliant repository. We provide Digital Object Identifiers so that these deposits can be easily reported back up to the agencies or used for data citation in cases of re-use. We prefer to save researchers time and deposit items on their behalf through our mediated deposit service or researchers can deposit their items themselves. If you would like help with depositing, just email <a href="mailto:eraadmi@ualberta.ca">eraadmi@ualberta.ca</a>
  </p>
</div>
