<div class="container mt-3">
  <h1>Contact Us</h1>

  <address>
    <strong>ERA HelpDesk</strong><br>
    University of Alberta<br>
    Edmonton, AB, Canada, 26G 2R3<br>
    <abbr title="Phone">P:</abbr> (780) 492-4359
    <a href="mailto:erahelp@ualberta.ca">erahelp@ualberta.ca</a>
  </address>


  <h2>Contact the ERA Helpdesk to:</h2>

  <ul>
    <li>Get help adding your works to ERA (we will do it all if you let us!)</li>
    <li>Ask a question about your existing deposits in ERA</li>
    <li>Report a technical problem or bug</li>
    <li>Provide suggestions or feedback</li>
    <li>Propose a new collection in ERA</li>
    <li>Ask us anything about ERA or open access at the University of Alberta</li>
  </ul>
</div>
