<div class="container mt-3">
  <h1>Contact Us</h1>

  <h2>ERA HelpDesk</h2>
  <p>
    <a href="mailto:erahelp@ualberta.ca">erahelp@ualberta.ca</a> / 780.492.4359
  </p>

  <h2>Contact the ERA Helpdesk to:</h2>

  <ul>
    <li>Get help adding your works to ERA (we will do it all if you let us!)</li>
    <li>Ask us anything about ERA or open access at the University of Alberta</li>
    <li>Propose a new collection for ERA</li>
    <li>Ask a question about your existing deposits in ERA</li>
    <li>Report a technical problem or bug</li>
    <li>Provide suggestions or feedback</li>
  </ul>
</div>
