<h1>How to deposit your research into ERA</h1>

<h3>Mediated Deposit</h3>

<p>
  ERA’s mediated deposit service is the easiest way for researchers to deposit their materials into ERA,
  and is the preferred method of deposit. Our trained staff conduct the deposit from start to finish.
  Our process includes investigating publisher permissions for researchers’ publications, and identifying
  those which allow for archiving into our institutional repository. We will also request permission on
  behalf of the researcher for publications that have no clear archiving policies.
<p>

<p>
  Please contact the ERA Helpdesk <a href="mailto:erahelp@ualberta.ca">erahelp@ualberta.ca</a> / (780) 492-4359.
  for more information about this service.
</p>


<h3>Self Deposit</h3>

<p>Researchers may also deposit their materials directly into ERA.<p>

<p>
  Please review our <%= link_to 'Policies', policies_path %> page before beginning a deposit, and ensure that
  you are the copyright owner, or have secured appropriate permissions to deposit your research.
  If you have any question about self deposit, please contact the ERA Helpdesk at
  <a href="mailto:erahelp@ualberta.ca">erahelp@ualberta.ca</a> / (780) 492-4359.
</p>


<h3>Step 1: Login to ERA</h3>

<ul>
  <li>
    If you have a University of Alberta CCID you can <%= link_to 'login', login_path %> using your CCID.
    If you do not have a CCID you may sign up for an ERA account using your email address.
  </li>
</ul>


<h3>Step 2: Upload your research</h3>

<ul>
	<li>Click on “Upload Files” or “Upload Your Research”</li>
	<li>
    Read and accept the <%= link_to 'University of Alberta Deposit and Distribution Agreement',
                            policies_path + "#era-agreement" %>
  </li>
	<li>Select your files and start your upload.</li>
</ul>

<h3>Step 3: Describe your item</h3>

<ul>
	<li>
    Fill in all of the required fields, as well as any additional fields that help describe your item.
    Please follow the examples provided when formatting names and dates.
  </li>
	<li>
    You will be asked to select a license that determines how other people may use and share your content.
    We recommend you select a Creative Commons license - for help selecting a Creative Commons license you
    can use the <%= link_to 'License Chooser', 'https://creativecommons.org/choose/'%>.
    If you are required to use a publisher’s license, you can select “I am required to use/link to a publisher’s
    license” and paste the terms or link in the “Publisher’s License” field.
  </li>
	<li>Choose a Community and Collection for your item.</li>
	<li>
    Choose who will have the ability to read and download your item, and if you’d like to allow other users
    to edit your item.
  </li>
</ul>

<h3>Step 4: Save your item</h3>

<ul>
  <li>When you have completed the form, click “Save” to deposit your item into ERA.</li>
</ul>

<h3>Copyright Terms And ERA</h3>

<p>
  When depositing items, you will be prompted to select a Creative Commons license.
  All items in ERA require an associated license so that others understand how the work can be used.
  See <a href="http://creativecommons.org/about">http://creativecommons.org/about</a> for more information
  about Creative Commons licenses and contact erahelp@ualberta.ca for more information about copyright terms.
</p>

<p>
  Note that there are three ways to determine if a journal article can be deposited in ERA and in what form:
</p>

<dl>
	<dt>SHERPA/RoMEO:</dt>
  <dd>
    provides information about journal policies for archiving articles in institutional repositories
    <a href="http://www.sherpa.ac.uk/romeo">http://www.sherpa.ac.uk/romeo</a>
  </dd>

	<dt>Journal websites:</dt>
  <dd>
    many journals state their archiving policies on their website (see sections on author information or copyright)
  </dd>

	<dt>Ask the journal:</dt>
  <dd>
    use an author addendum and/or send an email request to retain your right to deposit your work in an
    institutional repository (e.g., the SPARC Canadian Author Addendum
    <a href="http://www.carl-abrc.ca/uploads/SCC/Addendum_updated-e.pdf">
      http://www.carl-abrc.ca/uploads/SCC/Addendum_updated-e.pdf
    </a> )
  </dd>
</ul>
