<% page_title( t('.header')) %>

<div class="container mt-3">
  <h1 class="mt-3"><%= t('.header') %></h1>

  <p><%= t('.description_html') %></p>
  <%= link_to t('.saml_link'), '/auth/saml', class: 'btn btn-primary' %>

  <% if Rails.env.development? || Rails.env.uat? %>
    <%# TODO: Temporary login form for local development until IST shibboleth issues gets resolved %>
    <%= link_to t('.developer_link'), '/auth/developer', class: 'btn btn-primary' %>
  <% end %>
</div>
