.git
.gitignore
*.md

tmp
tmp/cache
!tmp/pids/.keep
log
coverage/
.bundle
.ruby-version
vendor/bundle

/storage/*

/public/packs
/public/packs-test
/node_modules

.dockerignore
docker-compose.yml
docker-compose.lightweight.yml
docker-compose.deployment.yml
