language: ruby
sudo: required
dist: trusty

services:
  - postgresql
  - docker
  - redis-server

addons:
  chrome: stable

rvm:
  - 2.5

cache: bundler
bundler_args: --without development production --jobs=3 --retry=3
before_install:
  - gem install bundler:1.17.3
  - sudo apt-get install -y dpkg  # to upgrade to dpkg >= 1.17.5ubuntu5.8, which fixes https://bugs.launchpad.net/ubuntu/+source/dpkg/+bug/1730627

before_script:
  - bundle exec danger
  - docker version
  - docker-compose version

  - docker-compose -f docker-compose.lightweight.yml up -d

  - docker ps

  - RAILS_ENV=test bundle exec rails db:create
  - RAILS_ENV=test bundle exec rails db:migrate

script:
  - bundle exec rails test
  - bundle exec rails test:system
  - bundle exec rubocop
  - bundle exec scss-lint
