sudo: required
group: deprecated-2017Q3
language: bash
services: docker


before_script:
  - docker version
  - docker-compose version

  - docker-compose build web
  - docker-compose up -d web

  - sleep 15 # wait for containers to finish setting up
  - docker ps

  - docker-compose run --rm -e RAILS_ENV=test web rails db:create
  - docker-compose run --rm -e RAILS_ENV=test web rails db:migrate

script:
  - docker-compose run --rm web rails test
  - docker-compose run --rm web rubocop

# after_success:
 # Do autodeploy magic here to UAT
  # - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
  # - docker push $REPO
  # - bash deploy.sh
