language: ruby
sudo: required
dist: trusty

services:
  - postgresql
  - docker
  - redis-server

addons:
  chrome: stable

rvm:
  - 2.4.1

cache: bundler
bundler_args: --without development production --jobs=3 --retry=3

before_script:
  - docker version
  - docker-compose version

  - docker-compose -f docker-compose.lightweight.yml up -d

  - docker ps

  - RAILS_ENV=test bundle exec rails db:create
  - RAILS_ENV=test bundle exec rails db:migrate

script:
  - bundle exec rails test
  - TESTOPTS="-v" bundle exec rails test:system
  - bundle exec rubocop
  - bundle exec scss-lint
