version: '3'

volumes:
  mysql:
    driver: local
  solr:
    driver: local
  fcrepo:
    driver: local
  redis:
    driver: local
  assets:

services:
  mysql:
    restart: always
    image: mysql:5.7
    env_file: .env_deployment
    volumes:
      - mysql:/var/lib/mysql

  solr:
    restart: always
    image: solr
    ports:
      - "8983:8983"
    volumes:
      - solr:/opt/solr/server/solr/mycores
      - ./solr/config:/config
    entrypoint:
      - docker-entrypoint.sh
      - solr-precreate
      - jupiter-uat
      - /config

  fcrepo:
    restart: always
    image: murny/docker-fcrepo4
    volumes:
      - fcrepo:/fcrepo4-data
    ports:
      - "8080:8080"

  redis:
    restart: always
    image: redis:alpine
    volumes:
      - redis:/data

  # Sidekiq
  worker: &rails
    restart: always
    image: ualbertalib/jupiter:deployment
    command: bundle exec sidekiq
    env_file: .env_deployment
    depends_on:
      - mysql
      - fcrepo
      - redis
      - solr

  # Rails
  web:
    <<: *rails
    environment:
      RAILS_SERVE_STATIC_FILES: enabled
    volumes:
      - assets:/app/public/assets/
    command: bundle exec puma -e uat

  nginx:
    restart: always
    image: nginx
    depends_on:
      - web
    env_file: .env_deployment
    volumes:
      - ./config/nginx.conf:/etc/nginx/conf.d/default.conf
      - assets:/app/public/assets/
    ports:
      - "80:80"
