<% page_title(t('.header')) %>

<h1 class="my-3">(TODO: Not implemented) <%= t('.header') %></h1>

<div class="list-group">
  <% @items.each do |item| %>
    <%= link_to item, class: "list-group-item list-group-item-action d-flex justify-content-between align-items-start" do %>
      <%= item.title %>
      <span class="badge badge-secondary">
        <%= jupiter_time_ago_in_words(item.record_created_at) %>
      </span>
    <% end %>
  <% end %>
</div>
