---
http_interactions:
- request:
    method: post
    uri: https://ez.test.datacite.org/shoulder/doi:10.21967/FK2
    body:
      encoding: UTF-8
      string: |-
        _status: public
        _profile: datacite
        _target: http://localhost/items/7d4ef627-70cf-4378-b237-844e9a7b4539
        _export: yes
        datacite: <?xml version="1.0" encoding="UTF-8"?><resource xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://datacite.org/schema/kernel-4" xsi:schemaLocation="http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4/metadata.xsd"><identifier identifierType="DOI"></identifier><creators><creator><creatorName>Joe Blow</creatorName></creator></creators><titles><title>Test Title</title></titles><publisher>University of Alberta Libraries</publisher><publicationYear>2017</publicationYear><resourceType resourceTypeGeneral="Text">Text/Book</resourceType><descriptions><description descriptionType="Abstract"></description></descriptions></resource>%0A
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |-
        success: doi:10.21967/fk2-ycs2-dd92
        _target: http://localhost/items/7d4ef627-70cf-4378-b237-844e9a7b4539
        datacite: <?xml version="1.0" encoding="UTF-8"?>%0A<resource xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://datacite.org/schema/kernel-4" xsi:schemaLocation="http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4/metadata.xsd">%0A  <identifier identifierType="DOI">10.21967/FK2-YCS2-DD92</identifier>%0A  <creators>%0A    <creator>%0A      <creatorName>Joe Blow</creatorName>%0A    </creator>%0A  </creators>%0A  <titles>%0A    <title>Test Title</title>%0A  </titles>%0A  <publisher>University of Alberta Libraries</publisher>%0A  <publicationYear>2017</publicationYear>%0A  <resourceType resourceTypeGeneral="Text">Text/Book</resourceType>%0A  <descriptions>%0A    <description descriptionType="Abstract"/>%0A  </descriptions>%0A</resource>
        _profile: datacite
        _datacenter: CISTI.UAL
        _export: yes
        _created: 1551393579
        _updated: 1551393579
        _status: public
  recorded_at: Thu, 28 Feb 2019 22:39:40 GMT
- request:
    method: get
    uri: https://ez.test.datacite.org/id/doi:10.21967/fk2-ycs2-dd92
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: |-
        success: doi:10.21967/fk2-ycs2-dd92
        _target: http://localhost/items/7d4ef627-70cf-4378-b237-844e9a7b4539
        datacite: <?xml version="1.0" encoding="UTF-8"?>%0A<resource xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://datacite.org/schema/kernel-4" xsi:schemaLocation="http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4/metadata.xsd">%0A  <identifier identifierType="DOI">10.21967/FK2-YCS2-DD92</identifier>%0A  <creators>%0A    <creator>%0A      <creatorName>Joe Blow</creatorName>%0A    </creator>%0A  </creators>%0A  <titles>%0A    <title>Test Title</title>%0A  </titles>%0A  <publisher>University of Alberta Libraries</publisher>%0A  <publicationYear>2017</publicationYear>%0A  <resourceType resourceTypeGeneral="Text">Text/Book</resourceType>%0A  <descriptions>%0A    <description descriptionType="Abstract"/>%0A  </descriptions>%0A</resource>
        _profile: datacite
        _datacenter: CISTI.UAL
        _export: yes
        _created: 1551393579
        _updated: 1551393579
        _status: public
  recorded_at: Thu, 28 Feb 2019 22:39:40 GMT
recorded_with: VCR 4.0.0
