---
http_interactions:
- request:
    method: post
    uri: https://ez.test.datacite.org/id/doi:10.21967/fk2-7jm3-d229
    body:
      encoding: UTF-8
      string: '_status: unavailable | withdrawn'
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        success: doi:10.21967/fk2-7jm3-d229
        _target: http://localhost/items/03ef60fe-1a19-4cf4-a432-cb67348cb6eb
        datacite: <?xml version="1.0" encoding="UTF-8"?>%0A<resource xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://datacite.org/schema/kernel-4" xsi:schemaLocation="http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4/metadata.xsd">%0A  <identifier identifierType="DOI">10.21967/FK2-7JM3-D229</identifier>%0A  <creators>%0A    <creator>%0A      <creatorName>Joe Blow</creatorName>%0A    </creator>%0A  </creators>%0A  <titles>%0A    <title>Different Title</title>%0A  </titles>%0A  <publisher>University of Alberta Libraries</publisher>%0A  <publicationYear>2017</publicationYear>%0A  <resourceType resourceTypeGeneral="Text">Text/Chapter</resourceType>%0A  <dates>%0A    <date dateType="Issued">2017</date>%0A  </dates>%0A  <version/>%0A  <descriptions>%0A    <description descriptionType="Abstract"/>%0A  </descriptions>%0A</resource>%0A
        _profile: datacite
        _datacenter: CISTI.UAL
        _export: yes
        _created: 1542138723
        _updated: 1542320284
        _status: unavailable | unavailable | withdrawn
  recorded_at: Thu, 15 Nov 2018 22:18:04 GMT
- request:
    method: get
    uri: https://ez.test.datacite.org/id/doi:10.21967/fk2-7jm3-d229
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |-
        success: doi:10.21967/fk2-7jm3-d229
        _target: http://localhost/items/03ef60fe-1a19-4cf4-a432-cb67348cb6eb
        datacite: <?xml version="1.0" encoding="UTF-8"?>%0A<resource xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://datacite.org/schema/kernel-4" xsi:schemaLocation="http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4/metadata.xsd">%0A  <identifier identifierType="DOI">10.21967/FK2-7JM3-D229</identifier>%0A  <creators>%0A    <creator>%0A      <creatorName>Joe Blow</creatorName>%0A    </creator>%0A  </creators>%0A  <titles>%0A    <title>Different Title</title>%0A  </titles>%0A  <publisher>University of Alberta Libraries</publisher>%0A  <publicationYear>2017</publicationYear>%0A  <resourceType resourceTypeGeneral="Text">Text/Chapter</resourceType>%0A  <dates>%0A    <date dateType="Issued">2017</date>%0A  </dates>%0A  <version/>%0A  <descriptions>%0A    <description descriptionType="Abstract"/>%0A  </descriptions>%0A</resource>%0A
        _profile: datacite
        _datacenter: CISTI.UAL
        _export: yes
        _created: 1542138723
        _updated: 1542320284
        _status: unavailable | unavailable | withdrawn
  recorded_at: Thu, 15 Nov 2018 22:18:05 GMT
recorded_with: VCR 4.0.0
