---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=authorization_code&code=CODE12345&redirect_uri=http%3A%2F%2Fera.lvh.me%3A3000%2Fadmin%2Fbatch_ingests%2Fgoogle_callback&client_id=8945915654-bg7gf47phesfu8tce04if1l4gj399rmn.apps.googleusercontent.com&client_secret=-umlBnbNNo-WrOyPIl2X2gkM
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ya29.A0AfH6SMBaV5_Xbw2B7w0ZryaseHchfhbTMRg1Uzp9n56n9SZxWU8YY-jhjpzHH1wWmE-C15zJ6rNRqzn0mlo5OBSBAMCEGRIXo1ao_SBsbuadje8hFdSWvnzHzOss1ZWaKhi2srNJlC1GBK0ObrXKbmanf0CAiQ",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Mon, 01 Mar 2021 20:26:52 GMT
recorded_with: VCR 5.0.0
