<li class="list-group-item">
  <div class="d-flex flex-wrap justify-content-between">
    <div>
      <%= value.facet_search_link %>
    </div>
    <div>
      <%= value.count %>
    </div>
  </div>
</li>
