<div class="work-breadcrumb">
  <% @work.paths.each do |path| %>
    <ol class="breadcrumb mb-1">
      <li class="breadcrumb-item">
        <%= link_to(path.community.title, community_path(path.community)) %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to(path.collection.title,
            community_collection_path(path.community, path.collection)) %>
      </li>
    </ol>
  <% end %>
</div>
