<%# ADDITIONAL INFORMATION %>
<button type="button"
        data-toggle="collapse"
        data-target="#more-information-hidden"
        aria-expanded="false"
        aria-controls="more-information-hidden"
        class="btn btn-outline-secondary mb-3 js-more-information-btn font-italic">
    <span class="js-more-information-hidden">
      <%= t(:more_information) %>
      <%= icon('fas', 'chevron-down') %>
    </span>

    <span class="d-none js-more-information-shown">
      <%= t(:show_less) %>
      <%= icon('fas', 'chevron-up') %>
    </span>
</button>
