<div class="jumbotron text-center">
  <h1><%= t('.header') %></h1>
  <p class="lead">
    <%= t('.cta_lead_text') %>
  </p>
  <%= link_to t('.cta_link_text'), 'https://github.com/ualbertalib/jupiter', class: 'btn btn-primary btn-large' %>
</div>
