<h1>About ERA</h1>

<h3>What Is ERA?</h3>

<p>
  ERA (Education and Research Archive) is the name for University of Alberta's Digital Asset Management
  strategy, being developed and supported by the
  <a href="http://www.library.ualberta.ca">University of Alberta Libraries</a>.
  For more on the technology behind ERA see <%= link_to 'Technology and Partnerships', technology_path %>.
</p>

<p>
  ERA's open access content includes the intellectual output of the University and promotes global
  opportunities for research discovery as well as for archival preservation.
  ERA also provides an easy and convenient solution for faculty who must deposit their research in an
  open access repository to meet funding agency requirements, such as the Tri-Agency Open Access Policy
  on Publications. We can deposit items on behalf of researchers through our mediated deposit service,
  or researchers can deposit their items using our easy self-deposit process.
  See <%= link_to 'How to Deposit', help_path %> for more information.
</p>


<h3>What is deposited in ERA?</h3>
<p>The item types found in ERA are:</p>
<ul>
	<li>Book</li>
	<li>Book Chapter</li>
	<li>Conference/Workshop Poster</li>
	<li>Conference/Workshop Presentation</li>
	<li>Dataset - a group of files associated with research that often include a data file, a codebook, or other
    forms of data
  </li>
	<li>Journal Article (Draft-submitted) – these are sometimes called pre-prints</li>
	<li>Journal Article (Final, peer-reviewed manuscript) – these are sometimes called post-prints</li>
	<li>
    Journal Article (Published version) – check <a href="http://www.sherpa.ac.uk/romeo">SHERPA-RoMEO</a> for
    journals allowing this type of deposit
  </li>
	<li>Learning Object - syllabus, class Power Point presentation, practice exam, etc.</li>
	<li>Report</li>
	<li>
    Research Material – items such as an images, field notebooks, etc. that don't fall into the other categories
  </li>
	<li>Review - book review, data review, etc.</li>
</ul>


<h3>Who May Deposit Items?</h3>

<p>
  Registered users may deposit items in ERA. Contact <a href="mailto:erahelp@ualberta.ca">erahelp@ualberta.ca</a>
  to learn more about our mediated deposit service and training sessions. View our
  <%= link_to 'Policies', policies_path %> page for guidelines around depositing content and our
  <%= link_to 'How to Deposit', help_path %> page for information about how to deposit.
</p>
