# Expected file format:
#    - vocabulary: ual
#      schema: http://terms.library.ualberta.ca/identifiers/
#      terms:
#        - doi
#        - path
#    - vocabulary: acl
#      schema: http://www.w3.org/ns/auth/acl
#      terms:
#        - mode
#
# Usage in the application:
#
#   VOCABULARY[:ual].doi
#   => #<RDF::Vocabulary::Term:0x3fc87891aa0c URI:http://terms.library.ualberta.ca/identifiers/doi>
#

- vocabulary: ual
  schema: http://terms.library.ualberta.ca/
  terms:
    - committeeMember
    - Community # rdf:type for community objects, Zach has advised uppercase for class
    - department
    - depositor
    - dissertant
    - fedora3handle
    - fedora3uuid
    - graduationDate
    - hydraNoid
    - ingestbatch
    - path
    - proquest
    # separate from date_created, we need to track a precise time the metadata record was created
    - recordCreatedInJupiter
    - sortyear
    - specialization
    - supervisor
    - thesisLevel
    - unicorn

- vocabulary: prism
  schema: http://prismstandard.org/namespaces/basic/3.0/
  terms:
    - doi

- vocabulary: acl
  schema: 'http://projecthydra.org/ns/auth/acl#'
  terms:
    - embargoHistory
    - visibilityAfterEmbargo

- vocabulary: swrc
  schema: 'http://ontoware.org/swrc/ontology#'
  terms:
    - institution
