// Set bootstrap sass variables
@import 'bootstrap-sass-overrides';

// External Library Stylesheets
@import '~bootstrap/scss/bootstrap';

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~selectize/dist/css/selectize';
@import '~selectize/dist/css/selectize.bootstrap3';
@import '~easy-autocomplete/dist/easy-autocomplete';
@import '~dropzone/dist/dropzone';

// Custom Stylesheets
@import 'jupiter';
@import 'simple_form';
@import 'items';
@import 'image';
@import 'search';
@import 'users';
@import 'welcome';
@import 'skip-content';
@import 'changeset';
