<li class="list-group-item list-group-item-action">
  <div class="d-flex justify-content-between">
    <%= link_to collection.title, community_collection_path(community, collection) %>

    <div class="btn-group">
      <% if policy(collection).edit? %>
        <%= link_to t('edit'), edit_community_collection_path(community, collection),
            class:'btn btn-secondary edit-collection' %>
      <% end %>
      <% if policy(collection).destroy? %>
        <%= link_to t('delete'), community_collection_path(community, collection),
            class: 'btn btn-danger delete-collection', method: :delete,
            data: { confirm: t('.delete_confirm', title: collection.title) } %>
      <% end %>
    </div>
  </div>
</li>
