<div class="card mt-3 admin-sidebar">
  <div class="card-header">
    <%= t('.admin') %>
  </div>
  <div class="card-body p-2">
    <ul class="list-group">
      <div class="d-flex justify-content-center">
        <div class="p-1">
          <%= link_to(t('.reset_doi'), admin_reset_doi_path(@item),
                      class: 'btn btn-outline-primary',
                      data: { confirm: t('.doi_reset_confirmation') },
                      method: :patch) %>
        </div>
      </div>
    </ul>
  </div>
</div>
