<% community_id = local_assigns[:community_id] %>
<% collection_id = local_assigns[:collection_id] %>
<% collections = local_assigns[:collections] || [] %>
<div class="community-collection">
  <div class="d-flex justify-content-between mt-3">
    <div class="card p-3 w-100 mr-3">
      <%= # The 'tap' prevents the first community from getting selected when no community_id
          f.input :community,
                  { as: :unread_select,
                    collection: @communities,
                    label_method: :title,
                    value_method: :id,
                    input_html: { name: 'item[community][]', id: nil, class: 'community-select' }
                  }.tap { | options| options[:selected] = community_id if community_id }
      %>
      <%= f.input :collection,
          as: :unread_select,
          disabled: !collections.present?,
          collection: collections,
          selected: collection_id,
          input_html: { name: 'item[collection][]', id: nil, class: 'collection-select' }
      %>
    </div>
    <div>
      <%= link_to t(:remove), '#', class: 'btn btn-danger remove-community-collection' %>
    </div>
  </div>
</div>
