<%# Placeholder -- replace me with something useful %>
<div class="img-thumbnail d-flex justify-content-center align-items-center mb-3"
     style="color:white;background-color:lightgrey;width:300px;height:400px;">
  <p class="my-1"><%= t('.thumbnail') %></p>
</div>
