<% if thumbnail_path(file).present? %>
  <%= safe_thumbnail_tag(thumbnail_path(file), alt: '', title: file.filename, size: '100x100') %>
<% else %>
  <div class="text-muted text-center img-thumbnail p-3">
    <%= icon('far', file_icon(file.content_type), class: 'fa-5x') %>
    <span class="sr-only"><%= file.filename %></span>
  </div>
<% end %>
