@import "bootstrap";

// TODO: weird bug? had to .css this
@import "font-awesome.css";

@import "works";

// TODO: move this stuff below to a general jupiter.scss
// padding for fixed header.
body {
  padding-top: 80px;
}
