// remove the underlines from everything in the media object since its a link
li.jupiter-community-list-item a.media {
  text-decoration: none;

  // hover darkens the h5, lets not do this
  // since theres a tiny bit of padding within the li which gives a weird effect
  h4 {
    color: theme-color("primary");
  }
}
