// TODO: Hacks for select 2 widths being weird when initialized inside a hidden element
// (for example the additonal fields section on describe item)
// More info here: https://github.com/select2/select2/issues/291

// scss-lint:disable all

// Scoping to the accordion only for now. If this is an issue elsewhere, maybe we generalize this
.js-deposit-item #js-additional-fields-accordion {
  // Kinda fixes the placeholders width on hidden container...
  // but if placeholder is really long (which most are...) than we still got an issue
  // PR here for an actual fix here that needs to be merged
  // https://github.com/select2/select2/pull/4898/
  .select2-selection--multiple .select2-search--inline .select2-search__field {
    width: auto !important;
  }
}
