$cc-background: $gray-100;

.communities-collections {
  .invalid-feedback {
    display: block;
  }
}

.community-collection {
  .card {
    // TODO: have real designer pick this
    background-color: $cc-background;
  }
}
