// padding for fixed header.
body {
  padding-top: 56px;
}

.required abbr {
  color: $red;
  cursor: inherit;
  font-weight: bold;
  text-decoration: inherit;
}
#skip {
  display: block;
  padding: 1em;
  color: #fff;
  background-color: $red;
  outline: 0;

  .skiplink-text {
    padding: .5em;
    outline: 1px dotted;
  }
}
