$header-height-large-screen: 81px;
$header-height-small-screen: 139px;
$footer-height: 72px;

$image-with-text-bg: $jupiter-primary;
$image-with-text-opacity: 0.8;

html {
  // needed for sticky footer
  min-height: 100%;
  position: relative;
}

body {
  // sticky footer height
  padding-bottom: $header-height-large-screen + $footer-height;
  // padding for fixed header.
  padding-top: $header-height-large-screen;
}

@include media-breakpoint-between(xs, sm) {
  body {
    padding-bottom: $header-height-small-screen + $footer-height;
    // header needs more room on small screens for search box
    padding-top: $header-height-small-screen;
  }
}

.required abbr {
  color: $red;
  cursor: inherit;
  font-weight: bold;
  text-decoration: inherit;
}

.j-header {
  border-bottom: 1px solid $jupiter-primary;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

.j-footer {
  // needed for sticky footer
  bottom: 0px;
  position: absolute;
  width: 100%;
}

// Adapted from https://codepen.io/luisintosh/pen/gPGXOp
.image-with-text {
  padding: 0px;
  position: relative;
  text-align: center;
  width: 100%;

  img {
    min-height: 100%;
    object-fit: cover;
    width: 100%;

  }

  .agriculture {
    // Make sure the people are in the picture
    object-position: 75% 50%;
  }

  p {
    background-color: $image-with-text-bg;
    bottom: 0px;
    color: $black;
    left: 0px;
    margin-bottom: inherit;
    opacity: $image-with-text-opacity;
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .era-av {
    background-color: $jupiter-primary;
  }
}

.collection-links {
  a {
    text-align: left;
    white-space: normal;
  }
}

.nav-item {
  font-weight: bold;
}
