.logo-large {
  height: 400px;
  max-width: inherit;
  width: 300px;
}

.logo-small {
  height: 100px;
  max-width: inherit;
  width: 100px;
}
.logo-text {
  height: 0;
  font-size: 0;
  color: transparent;
}
