<% page_title( t('application.5xx.title', status: response.status)) %>
<%= image_tag 'campus-banner.jpg', class: 'img-fluid w-100', alt: '' %>

<div class="container mt-5">
  <h1><%= response.status %></h1>
  <h2><%= t('application.5xx.heading') %></h2>
  <p><%= t('application.5xx.clarification') %></p>
</div>
