<% current_announcements.each do |announcement| %>
  <div class="alert alert-primary mb-0 rounded-0" role="alert">
    <p class="mb-0 text-center">
      <%= icon('fas', 'exclamation-circle') %>
      <%= announcement.message %>
    </p>
  </div>
<% end %>
