%nav.navbar.navbar-toggleable-md.navbar-inverse.bg-primary
	.navbar-brand Jupiter
	.navbar-nav
		=link_to 'Home', root_path, class: 'nav-item nav-link'
		=link_to 'Communities', communities_path, class: 'nav-item nav-link'
		=link_to 'Upload', new_work_path, class: 'nav-item nav-link'
