%nav.navbar.navbar-toggleable-md.navbar-inverse.bg-primary
	.navbar-brand Jupiter
	.navbar-nav.mr-auto
		=link_to 'Home', root_path, class: 'nav-item nav-link'
		=link_to 'Communities', communities_path, class: 'nav-item nav-link'
		=link_to 'Upload', new_work_path, class: 'nav-item nav-link'
	%form.form-inline.my-2.my-lg-0
		%input.corm-control.mr-sm-2{type: 'text', placeholder: 'Search'}
		%button.btn.btn-outline-secondary.my-2.my-sm-0{type: 'submit'} Search
