<% if @collections.count > 0 %>
  <%= render partial: 'collection', collection: @collections,
      locals: {community: @community} %>
<% else %>
  <li class="list-group-item list-group-item-action">
    <%= t('communities.show.no_collections') %>
  </li>
<% end %>
