<%= simple_form_for @community do |f| %>
  <div class="form-group">
    <%= f.input :title %>
    <%= form.file_field :logo %><br>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
