<% provide(:page_title, t('.header')) %>

<h2 class="mt-3"><%= t('.header') %></h2>

<div class="row mt-3">
  <div class="col">
    <div class="list-group">
      <% @communities.each do |community| %>
        <%= link_to community.title, community_path(community),
            class: 'list-group-item list-group-item-action' %>
      <% end %>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <% if policy(Community).create? %>
      <%= link_to t('.create_new_community'), new_community_path,
          class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
