%h2.mt-3 Create Community
.row.mt-3
	.col
		= simple_form_for @community do |f|
			- Community.attribute_names.each do |prop|
				.form-group
					= f.input prop

			= f.button :submit, class: 'btn btn-primary'