<h1><%= t('.header') %></h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @batch_ingests.each do |batch_ingest| %>
      <tr>
        <td><%= link_to batch_ingest.title, admin_batch_ingest_path(batch_ingest) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new_batch_ingest'), new_admin_batch_ingest_path, class: 'btn btn-primary' %>
