name: CI
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby: [2.6, 2.7]

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 100

      - name: Build the docker-compose stack
        run: docker-compose up -d

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run Danger
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: bundle exec danger

      - name: Lint with RuboCop
        run: bundle exec rubocop --parallel

      - name: Run Brakeman
        run: bundle exec brakeman -A --no-pager

      - name: Get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2.1.7
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install Node modules
        run: yarn install

      - name: Lint with Eslint
        run: yarn run lint

      - name: Lint with Stylelint
        run: yarn run lint-css

      - name: Run ERBLint
        run: bundle exec erblint .

      - name: Run Tests
        env:
          RAILS_ENV: test
        run: |
          bundle exec rails db:create db:schema:load
          bundle exec rails test
          bundle exec rails test:system
